<h1>Heroes de <small>MARVEL & DC</small> Unlimited</h1>
<hr>

<div class="card-columns">
  <div class="card-group">
      <div class="card btn" *ngFor="let h of hers">
        <img [src]="h.img" class="card-img-top" [alt]="h.nombre">
        <div class="card-body">
          <h5 class="card-title">{{h.nombre}}</h5>
          <p class="card-text">{{h.bio}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{h.aparicion}}</small>
        </div>
      </div>
  </div>
</div>